body{
  margin:0;
  background:black;
  color:white;
  font-family:Arial, sans-serif;
}

h1{
  text-align:center;
  margin:15px 80px;
  letter-spacing:2px;
  margin-bottom: 15px;
}

.portfolio{
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:120px;
}

/* carrossel */
.carousel{
  display:flex;
  align-items:center;
  gap:40px;
  margin-top: 50px;
}

.arrow{
  background:none;
  border:none;
  color:white;
  font-size:50px;
  cursor:pointer;
  opacity:.6;
  transition:.3s;
}

.arrow:hover{
  opacity:1;
}

.photo-container{
  position:relative;
  width:260px;
  height:420px;
}

.photo-container img{
  width:100%;
  height:100%;
  object-fit:cover;
  border-radius:20px;
}

/* overlay */
.overlay{
  position:absolute;
  inset:0;
  background:rgba(0,0,0,.55);
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:20px;
  letter-spacing:2px;
  opacity:0;
  transition:.3s;
  border-radius:20px;
}

.photo-container:hover .overlay{
  opacity:1;
}
.credito {
  width: 100%;
  background: white;
  text-align: center;
  padding: 20px 0;
  margin-top: 60px;
  font-family: Arial;
}

.credito a {
 font-size:15px;
  opacity: 0.90;
  color:rgb(0, 0, 0);
  text-decoration:none;
}
.credito a:hover {
  opacity: 0.6;
}

/* menu */
.menu {
  display: flex;
  justify-content: center;
  gap: 45px;
}

/* botões */
.btn {
  text-decoration: none;
  background: white;
  color: black;
  padding: 10px 20px;
  border-radius: 999px; 
  font-weight: 500;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.btn:hover {
  transform: scale(1.05);
  opacity: 0.85;
}
/* padrão (todos os outros) */
.photo-container img {
  width: 100%;
  height: 420px;
  object-fit: cover;
  border-radius: 20px;
}

/* estilo especial para o Local 8 */

.photo-container.horizontal {
  position: relative;
  width: 80%;
  max-width: 900px;
  height: 300px;   
  margin: 0 auto;
}

.photo-container.horizontal img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 60px; 
  box-shadow: 0 20px 45px rgba(0,0,0,0.6);
  display: block;
}
.overlay-horizontal{
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,.55);

  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;
  font-size: 22px;
  letter-spacing: 2px;
  color: white;

  opacity: 0;
  transition: .3s;
  border-radius: 60px; 
}
.photo-container.horizontal:hover .overlay-horizontal{
  opacity: 1;
}
