*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, sans-serif;
}

body{
  background:#000;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.card{
  text-align:center;
  color:white;
  width:320px;
}

.profile{
  width:300px;
  height:300px;
  object-fit:cover;
  border-radius:50%;
  margin-bottom:20px;
}


h1{
  font-size:22px;
  letter-spacing:1px;
}

.job{
  opacity:.6;
  margin:10px 0 20px;
}

button{
  background:white;
  color:black;
  border:none;
  padding:12px 40px;
  border-radius:30px;
  font-weight:bold;
  cursor:pointer;
  transition:.3s;
}

button:hover{
  transform:scale(1.05);
}

.social{
  margin:25px 0;
   display:flex;
  flex-direction:column;
  gap:15px;
  align-items:center;
}
.social img{
  width:32px;
  margin:0 10px;
  transition:.3s;
  cursor:pointer;
}

.social img:hover{
  transform:scale(1.2);
  opacity:.8;
}
.social a{
  text-decoration:none;
}
.social a:visited{
  color:inherit;
}
.credit{
  font-size:12px;
  opacity:.5;
  color:white;
  text-decoration:none;
  transition:.3s;
}

.credit:hover{
  opacity:1;
  text-decoration:underline;
}


